<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="#">
                       Dinim3ak
                    </a>
                </li>
                <li>
                    <a href="#">
                      
                    </a>
                </li>
                <li>
                    <a href="#">
                       
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="#m">Dinim3ak</a>
        </div>
    </div>
</footer>
