<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Liste des utilisateurs </h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                first name
              </th>
              <th>
                last name
              </th>
              <th>
                adress
              </th>
              <th>
               email
              </th>

              <th>Role</th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor = "let user of users ">
                <td>
                  {{user.first_name}}
                </td>
                <td>
                  {{user.last_name}}
                </td>
                <td>
                  {{user.cin}}
                </td>
                <td >
                  {{user.email}}
                </td>

                <td>{{user.role.role}}</td>

                <td>
                  <button class="btn btn-warning" (click)="modifier(user.id_user)">
                    <i class="nc-icon nc-settings"></i>
                  </button>
                </td>
                <td>
                  <button
                    class="btn btn-danger"
                    (click)="deleteRide(ride.id_ride)"
                  >
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>

              </tr>
              
            </tbody>
            
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
