
<div class="sidebar-wrapper">
  <div class="logo">
    <a href="" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="">
      </div>
    </a>
    <a href="#" class="simple-text logo-normal"><img style="margin-bottom: 10px;" src="../../assets/img/dini-m3ak-logo.png" width="150px" height="50px">
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
