<app-navbar></app-navbar>

<div class="header">
        <div class=" container text-center py-5">
            <h1 class="text-center">vos trajets !</h1>
            <p class="Lead">vous pouvez modifier vos trajet et vous pouvez consulter les trajet qui vous joindr</p>
        </div>
    </div>
<div class="container">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>First</a>
          <ng-template ngbNavContent>
            <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Depart</th>
                  <th scope="col">Destination</th>
                  <th scope="col">date de depart</th>
                  <th scope="col">date de destination</th>
                  <th scope="col">Nombre de passage</th>
                  <th scope="col">Type de trajet</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ride of rides">
                  <th scope="row">{{ ride.motoristId}}</th>
                  <td>
                    <!--<img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">-->
                    {{ ride.starting_city_name}}
                  </td>
                  <td>{{ ride.destination_city_name }}</td>
                  <td>{{ ride.starting_date  }}</td>
                  <td>{{ ride.destination_date  }}</td>
                  <td>{{ ride.nbPassengers  }}</td>
                  <td>{{ ride.ride_type_name }}</td>                  
                </tr>
                </tbody>
              </table>
              
              <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
                </ngb-pagination>
              
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
                  <option [ngValue]="2">2 items per page</option>
                  <option [ngValue]="4">4 items per page</option>
                  <option [ngValue]="6">6 items per page</option>
                </select>
              </div>  
 </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Second</a>
          <ng-template ngbNavContent>
            <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Depart</th>
                  <th scope="col">Destination</th>
                  <th scope="col">date de depart</th>
                  <th scope="col">date de destination</th>
                  <th scope="col">Nombre de passage</th>
                  <th scope="col">Type de trajet</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ride of rides">
                  <th scope="row">{{ ride.motoristId}}</th>
                  <td>
                    <!--<img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">-->
                    {{ ride.starting_city_name}}
                  </td>
                  <td>{{ ride.destination_city_name }}</td>
                  <td>{{ ride.starting_date  }}</td>
                  <td>{{ ride.destination_date  }}</td>
                  <td>{{ ride.nbPassengers  }}</td>
                  <td>{{ ride.ride_type_name }}</td>                  
                </tr>
                </tbody>
              </table>
              
              <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
                </ngb-pagination>
              
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
                  <option [ngValue]="2">2 items per page</option>
                  <option [ngValue]="4">4 items per page</option>
                  <option [ngValue]="6">6 items per page</option>
                </select>
              </div>  
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>

</div>
<div class="container">
</div>
<app-footer></app-footer> 

