.header{  
    height: 50vh;
    position: relative;
    background-size: cover;
    outline: none;
    display: flex; 
    background-position: center; 
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}



