<app-navbar></app-navbar>

<div class="header">
        <div class=" container text-center py-5">
            <h1 class="text-center">vos trajets !</h1>
            <p class="Lead">vous pouvez modifier vos trajet et aussi vous pouvez consulter vos voyages </p>
        </div>
    </div>
<div class="container">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>Vos trajets</a>
          <ng-template ngbNavContent>
            <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">Depart</th>
                  <th scope="col">Destination</th>
                  <th scope="col">date de depart</th>
                  <th scope="col">date de destination</th>
                  <th scope="col">Nombre de passage</th>
                  <th scope="col">Type de trajet</th>
                   <th scope="col">Prix</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ride of inPageEnabledRidesByUser ; let i = index">
                  <td>
                    <!--<img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">-->
                    {{ ride.starting_city_name}}
                  </td>
                  <td>{{ ride.destination_city_name }}</td>
                  <td>{{ ride.starting_date | date:"dd/MM/yyyy 'á' HH:mm"}}</td>
                  <td>{{ ride.destination_date | date:"dd/MM/yyyy 'á' HH:mm"}}</td>
                  <td>{{ride.nbPassengers}} / {{ride.seats}}</td>
                  <td>{{ ride.ride_type_name }}</td>
                  <td>{{ ride.price }}</td> 
                  <td><a style="padding: 10px;" (click)="delete(ride.id_ride,i)"><fa-icon [icon]="trash"style="color:red;"></fa-icon></a><a style="padding: 10px;" [routerLink]="['/update',ride.id_ride]" ><fa-icon [icon]="edit" style="color:green;"></fa-icon></a><a [routerLink]="['../info/'+ride.id_ride]"><fa-icon [icon]="eye"></fa-icon></a></td>                  
                </tr>
                </tbody>
              </table>
              
              <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSizeEnabledRidesByUser" [(page)]="pageEnabledRidesByUser" [pageSize]="pageSize" (pageChange)=" refreshEnabledRidesByUser()">
                </ngb-pagination>
              
                <!--<select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
                  <option [ngValue]="2">2 items per page</option>
                  <option [ngValue]="4">4 items per page</option>
                  <option [ngValue]="6">6 items per page</option>
                </select>-->
              </div>  
 </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Vos voyages</a>
          <ng-template ngbNavContent>
            <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">Depart</th>
                  <th scope="col">Destination</th>
                  <th scope="col">date de depart</th>
                  <th scope="col">date de destination</th>
                  <th scope="col">Nombre de passage</th>
                  <th scope="col">Type de trajet</th>
                  <th scope="col">Prix</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ride of inPageRidesJoinedByUse">
                  <td>
                    <!--<img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">-->
                    {{ ride.starting_city_name}}
                  </td>
                  <td>{{ ride.destination_city_name }}</td>
                  <td>{{ ride.starting_date | date:"dd/MM/yyyy 'á' HH:mm"}}</td>
                  <td>{{ ride.destination_date | date:"dd/MM/yyyy 'á' HH:mm"}}</td>
                  <td>{{ride.nbPassengers}} / {{ride.seats}}</td>
                  <td>{{ ride.ride_type_name }}</td>
                  <td>{{ ride.price }}</td>     
                  <td><a style="padding: 10px;" (click)="unjoin(ride.id_ride)"><fa-icon [icon]="minus"style="color:red;"></fa-icon></a><a [routerLink]="['../info/'+ride.id_ride]"><fa-icon [icon]="eye"></fa-icon></a></td>              
                </tr>
                </tbody>
              </table>
              
              <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSizeRidesJoinedByUse" [(page)]="pageRidesJoinedByUse" [pageSize]="pageSize" (pageChange)="  refreshRidesJoinedByUse()">
                </ngb-pagination>
              </div>  
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>En cours</a>
          <ng-template ngbNavContent>
            <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">Depart</th>
                  <th scope="col">Destination</th>
                  <th scope="col">date de depart</th>
                  <th scope="col">date de destination</th>
                  <th scope="col">Nombre de passage</th> 
                  <th scope="col">Type de trajet</th>
                  <th scope="col">Prix</th>
                 
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ride of  inPageDisabledRidesByUser ; let i = index">
                  <td>
                    <!--<img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">-->
                    {{ ride.starting_city_name}}
                  </td>
                  <td>{{ ride.destination_city_name }}</td>
                  <td>{{ ride.starting_date | date:"dd/MM/yyyy 'á' HH:mm"}}</td>
                  <td>{{ ride.destination_date | date:"dd/MM/yyyy 'á' HH:mm"}}</td>
                  <td>{{ride.nbPassengers}} / {{ride.seats}}</td>
                  <td>{{ ride.ride_type_name }}</td>
                  <td>{{ ride.price }}</td>     
                  <td><a style="padding: 10px;" (click)="delete(ride.id_ride,i)"><fa-icon [icon]="trash"style="color:red;"></fa-icon></a><a style="padding: 10px;" [routerLink]="['/update',ride.id_ride]"><fa-icon [icon]="edit" style="color:green;"></fa-icon></a><a [routerLink]="['../info/'+ride.id_ride]"><fa-icon [icon]="eye"></fa-icon></a></td>                  
                </tr>
                </tbody>
              </table>
              
              <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSizeDisabledRidesByUser" [(page)]="pageDisabledRidesByUser" [pageSize]="pageSize" (pageChange)=" refreshDisabledRidesByUser()">
                </ngb-pagination>
                <p style="color: red;"> * En attente de l'approbation d'administrateur</p>
              </div>  
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
</div>
<div class="container">
</div>
<app-footer></app-footer> 

