
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark white lighten-1 darken-4 fixed-top scrolling-navbar" [containerInside]="false">
    <logo><a class="navbar-brand text-dark" (click)="navigateHome()" ><img src="../../assets/image/dini-m3ak-logo.png" width="150px" height="50px"></a></logo>
      <links>
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link text-dark" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" mdbWavesEffect>A propos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" mdbWavesEffect>Couvoiturage</a>
          </li> -->
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item text-dark ">
          <form class="form" mdbWavesEffect (click)="navigateAddRide()"> 
            <h5><a><fa-icon [icon]="plus"></fa-icon> Proposer un trajet</a></h5>          
         </form>
        </li>
        <li class="nav-item text-dark ">
          <form class="form" mdbWavesEffect (click)="navigateMyRides()"> 
            <h5><a><fa-icon [icon]="car"></fa-icon> Mes trajets</a></h5>          
         </form>
        </li>
      </ul>  
         <ul class="navbar-nav nav-flex-icons">       
          <li class="nav-item text-dark ">
            <a class="nav-link text-dark">
              <div class="btn-group" mdbDropdown>
                  <fa-icon [icon]="fauser" class="rounded-circle user white-text"  mdbDropdownToggle></fa-icon>
                <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                  <a class="dropdown-item"  (click)="navigateProfile()">Profile</a>
                  <a class="dropdown-item"  (click)="dec()">Logout</a>
                </div>
              </div>
            </a>
          </li>
        </ul>
    </links>

</mdb-navbar>
