@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

html,body{
  margin  : 0;
}



.left-container {
  height    : 100vh;
  position  : relative;
}
.col-5{ padding: 0px;}

.cursor { cursor: pointer;}


.form-container{
  color       : #4A4A4A;
  padding     : 20vh 2vw;
  font-family : 'Roboto', sans-serif;

    input.form-control {
      border            : none;
      background-color  : #EEEEEE;
    }
    select.form-control {
      border            : none;
      background-color  :#EEEEEE;
    }

    h1 {
      font-size   : 36px;
      font-weight : 300;
    }
    h3 {
      font-size       : 14px;
      text-align      : left;
      font-weight     : 200;
      padding-bottom  : 40px;
    }
    label {
      font-size   : 13px;
      font-weight : 400;
      padding-top : 5px;
    }
    button {
      width             : 264px;
      color             :#FFFFFF;
      cursor            : pointer;
      height            : 41px;
      border            : none;
      padding           : 10px;
      font-size         : 18px;
      margin-top        : 15px;
      border-radius     : 0px 7px 0px 7px;
      background-color  : #4A4A4A;
    }
    button:disabled { background-color  : #4A4A4A;}

    .show-password {
      cursor     : pointer;
      color      : #B4B4B4;
      float      : right;
      font-size  : 12px;
      margin-top : 10px;
    }

    .error-message {
      margin-top  : 15px;
      font-size   : 14px;
    }
}

.profile {
    color       : #4A4A4A;
    padding-top : 20vh;
    font-family : 'Roboto', sans-serif;
  }

  .user {
    height: 190px;
    width: 245px;
    background-image    : url("../../assets/image/OIP-removebg-preview.png");
    font-size: 100px;
    text-align: center;
    padding-top: 150px;
    padding-right: 100px;
  }
  .form-container {
    padding: 0;
    input.h4 {
      border      : none;
      outline     : none!important;
      font-size   : 36px;
      font-weight : 300;
      width       : 60%;
    }
    button.btn-danger {
      background-color: #f44336;
    }
  }
  