<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Performance</p>
              <p class="card-title">99%
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> sécurisé , rapide ,facile, responsive...<p>  </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Revenu</p>
              <p class="card-title">0dh
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i> l'objectif c'est pas gagner l'argent mais facilite la vie d'autre
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Erreur</p>
              <p class="card-title">50
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i>nombres des erreurs frequente lors de developpement
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Avis</p>
              <p class="card-title"><i class="fa fa-star"></i><i class="fa fa-star"></i>
                <p>
            </div>
          </div>
        </div>    
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Notre collaborateur bien satisfait  <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Satistiques</h5>
        <p class="card-category"> Performances de la dernière campagne</p>
      </div>
      <div class="card-body ">
        <canvas id="chartEmail"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Trajets proposés
          <i class="fa fa-circle text-warning"></i> Voyageurs
          <i class="fa fa-circle text-gray"></i> Conducteurs
        </div>
        <hr>
        <div class="stats">
         
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Résumé</h5>
        <p class="card-category"></p>
      </div>
      <div class="card-body">
        <p>L’application dini m3ak est une application web(développé en angular et springBoot) qui répond aux besoins du client
          <p>Afin de gérer les différentes voyage de chaque client, avec un système de sécurité (Authentification) En plus l’application réalisée afin d’utiliser les fonctionnalités CRUD pour gérer les trajet, users, vehiculs, et d’autres fonctionnalités quand vas les détails dans cette présentation.</p>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i>       
          <i class="fa fa-circle text-warning"></i> 
        </div>
        <hr/>
        <div class="card-stats">
          <i class="fa fa-check"></i> Dini m3ak 2021 
        </div>
      </div>
    </div>
  </div>
</div>

