<p>login works!</p>
<form action="">
    <div class="container">
        <h1 *ngIf="isSignIn; else Register">Login</h1>
        <ng-template #Register><h1>Register</h1></ng-template>

    <p *ngIf="isSignIn; else Registertext">Please fill in this form to log in.</p>
    <ng-template #Registertext><p>Please fill in this form to create an account.</p></ng-template>
    
    <hr>

    <label *ngIf="!isSignIn;" for="fname"><b>First Name</b></label>
    <input *ngIf="!isSignIn;" type="text" placeholder="First Name" [(ngModel)]="user.firstname" name="firstname" id="fname" required>
    
    <label *ngIf="!isSignIn;" for="lname"><b>Last Name</b></label>
    <input *ngIf="!isSignIn;" type="text" placeholder="Last Name" [(ngModel)]="user.lastname" name="lastname" id="lname" required>

    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" [(ngModel)]="user.email" name="email" id="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" [(ngModel)]="user.password" name="password" id="psw" required>

    <label *ngIf="!isSignIn;" for="psw-repeat"><b>Repeat Password</b></label>
    <input *ngIf="!isSignIn;" type="password" placeholder="Repeat Password" [(ngModel)]="user.confirmPassword" name="confirmPassword" id="psw-repeat" required>
    <hr>
    <p style="color: red;">{{error}}</p>

    <input *ngIf="isSignIn; else Registersubmit" type="submit" class="registerbtn" (click)="login()" value="Sign In"/>
    <ng-template #Registersubmit><input type="submit" class="registerbtn" (click)="register()" value="Sign Up"/></ng-template>
   
</div>

    <div class="container signin">

    <p *ngIf="!isSignIn; else Registerbutton">Already have an account? <button (click)="changeIsSignIn()">Sign In</button>.</p>
    <ng-template #Registerbutton><p>Don't have an account? <button (click)="changeIsSignIn()">Sign Up</button>.</p></ng-template>
    </div>
</form>
<router-outlet></router-outlet>