<h1> les voyages disponibles </h1>
<input type="text" [(ngModel)]="searchValue" class="form-control" id="search" placeholder="search"/>
<br><br>
<table class="table table-striped">
    <thead  class="thead-dark">
        <tr>
            <th> nom </th>
            <th> Prenom </th>
            <th> email </th>
            <th colspan="2"> </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let user of users | searchfilter:searchValue | paginate : { itemsPerPage : 1 , currentPage : page, totalItems : totalLength}">
            <td> {{ user.nom }}</td>
            <td> {{ user.prenom }}</td>
            <td> {{ user.email }}</td>
         
            
<td> <button (click) = "updateUser(user.id)"  class="btn btn-dark"> update </button> </td>
<td> <button (click) = "deleteUser(user.id)" class="btn btn-danger"> delete </button> </td>
        </tr>
    </tbody>

</table>
<pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>