<app-navbar></app-navbar>
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet" />

    <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="picsum-img-wrapper">
            <img [src]="image" alt="Random slide">
          </div>
  <div class="carousel-caption d-flex h-100  align-items-center justify-content-center">
  <form >           
     <h1>Trouvez ou offrez un covoiturage ! ! </h1>
    <div class="search_form">
    <div class="search-field  first">
      <input type="text" id="form11Example1" placeholder="Depart" />          
        </div>
        <div class="search-field second">
          <div class="form-outline">    
            <input type="text" id="form11Example3"  placeholder="Destination "/>
          </div>
        </div>
        <div class="search-field third">
          <div class="form-outline">
            <input type="date" id="form11Example3" placeholder="" />     
          </div>
        </div>
        <div class="search-field fouth">
          <select class="choices__inner" name="choices-single-defaul">
            <option selected>Persone...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
      </div>
        <div class="search-field fifth">
          <button type="submit" class="search-btn"><i class="fas fa-search"></i>
            rechercher</button>
        </div>
     </div>    
   </form>   
  </div>
      </ng-template>
      </ngb-carousel>


      <div class="container-fluid mt--7" style="margin-top: 15px;">
        
        <div class="row">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-0">
                <h3 class="mb-0">Rides</h3>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Depart</th>
                      <th scope="col">Date de depart</th>
                      <th scope="col">Destination</th>
                      <th scope="col">Date de destination </th>
                      <th scope="col">Automobiliste</th>
                      <th scope="col">Nombre de place</th>
                      <th scope="col">Type</th>
                      <th scope="col">Prix</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ride of ridesInPage">
                      <th scope="row">
                        {{ride.starting_city_name}}
                      </th>
                      <th scope="row">
                        {{ride.starting_date | date:'MMM d, y, h:mm:ss a'}}
                      </th>
                      <th scope="row">
                        {{ride.destination_city_name}}
                      </th>
                      <th scope="row">
                        {{ride.destination_date | date:'MMM d, y, h:mm:ss a'}}
                      </th>
                      <th scope="row">
                        {{ride.motorist}}
                      </th>
                      <th scope="row">
                        {{ride.nbPassengers}} / {{ride.seats}}
                      </th>
                      <th scope="row">
                        {{ride.ride_type_name}}
                      </th>
                      <th scope="row">
                        {{ride.price}}
                      </th>
                      <th scope="row">
                        <p *ngIf="ride.nbPassengers == ride.seats && !ride.isUserJoined; else joinBlock">Full</p>
                        <ng-template #joinBlock>
                          <a (click)="unJoinRide(ride.id_ride)" mdbWavesEffect *ngIf="ride.isUserJoined else plusBlock"><i class="fas fa-lg fa-minus"></i></a>
                          <ng-template #plusBlock>
                            <a (click)="joinRide(ride.id_ride)" mdbWavesEffect><i class="fas fa-lg fa-plus"></i></a>
                          </ng-template>
                        </ng-template>

                      </th>
                      <th scope="row">
                        <a mdbWavesEffect (click)="infoRide(ride.id_ride)"><i class="fas fa-lg fa-eye"></i></a>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer py-4">
                <nav aria-label="...">
                  <!-- <ul class="pagination justify-content-end mb-0">
                    <li class="page-item disabled">
                      <a class="page-link" href="javascript:void(0)" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="javascript:void(0)">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="javascript:void(0)">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul> -->
                  <ngb-pagination class="pagination justify-content-end mb-0" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="handlePageChange()">
                  </ngb-pagination>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>




      <app-team></app-team>
      <app-footer></app-footer>
    
  