<p>add-ride works!</p>
<app-navbar></app-navbar> 

<div class="profile" *ngIf="myForm">
    <form [formGroup]="myForm" (ngSubmit)="updateRide()">
    <div class="container">
     <div class="alert alert-success" role="alert" *ngIf="showSuccess">
        <h4 class="alert-heading">Votre trajet a ete modifié avec succès!</h4>
      </div>

      <div class="row">
        <div class="col-xl-4 col-md-6 col-sm-12">
          <div class="ml-5 pb-3">
            <div class="user rounded-circle" >
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-md-6 col-sm-12">
          <div class="row max-viewport align-items-center">
            <div class="col text-center bg-light">
                <h1 class="display-3">Mon <strong class="text-uppercase">Trajet</strong></h1>
                </div></div>
                <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Prix</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="form-control" id="price" placeholder="veuillez saisir le prix" formControlName="price"  [(ngModel)]="ride.price" >
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Nombre de place</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="number" class="form-control" id="seats" placeholder="veuillez saisir le nombre de places" formControlName="seats"  [(ngModel)]="ride.nbPassengers">
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Date de depart</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="datetime-local" placeholder="yyyy-MM-ddTHH:mm:ss" [(ngModel)]="datedep" name="starting_date" formControlName="starting_date"  id="starting_date" >
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Date de destination</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="datetime-local" placeholder="yyyy-MM-ddTHH:mm:ss" [(ngModel)]="datedest" name="destination_date" formControlName="destination_date"  id="destination_date">
                        </div>
                      </div>
                      <hr>
                     
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Ville de depart</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <select class="form-control ecrituerModal" name="starting_city" id="starting_city" (change)="depcityChange($event)" formControlName="starting_city">
        
                            <option class="ecrituerModal" *ngFor="let dest of destination_city" [value]="dest.id_city" >{{dest.city_name}}</option>
                          </select>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Ville de destination</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <select class="form-control ecrituerModal" name="destination_city" id="destination_city" (change)="destcityChange($event)" formControlName="destination_city">
        
                                <option class="ecrituerModal" *ngFor="let dest of destination_city" [value]="dest.id_city" >{{dest.city_name}}</option>
                              </select>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Type Ride</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <select class="form-control ecrituerModal" formControlName="ride_type" (change)="typeChange($event)" name="ride_type" id="ride_type">
                                <option class="ecrituerModal" *ngFor="let r of ride_type" [value]="r.id_type">{{r.type}}</option>
                              </select>
                        </div>
                      </div>
                      </div>
                      <button type="submit" class="btn btn-primary btn-lg">Modifier trajet</button>
                    </div>
                 </div>
                     
                    
   
</div>
</div>
</form>
</div>
<app-footer></app-footer> 

