<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">

      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/default-avatar.png" alt="...">
            <h5 class="title">{{user.first_name}}</h5>
          </a>
          <p class="description">

          </p>
        </div>
        <p class="description text-center">


        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Modifier Profil</h4>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Modifier Profil</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" [(ngModel)]="user.first_name" placeholder="Prenom" value="" name="prenom">
              </div>
            </div>
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label >Nom </label>
                <input type="text" class="form-control" [(ngModel)]="user.last_name" placeholder="Nom" name="nom">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" [(ngModel)]="user.email" placeholder="Email" value="" name="email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" [(ngModel)]="user.address" placeholder="Address" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>CIN</label>
                <input type="text" class="form-control" [(ngModel)]="user.cin" placeholder="CIN" value="" name="cin">
              </div>
            </div>
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Telephone</label>
                <input type="text" class="form-control" [(ngModel)]="user.phone"  placeholder="Telephone" value="" name="phone">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round" (click)="updateProfile()">Modifier</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
